<div class="content-wrapper">

    <div class="monster-maker panel">
        <select class="party-picker">
            <option value="none" id="party-picker-none">(SELECT A PARTY)</option>
            {{#each parties}} {{>partyOption}} {{/each}}
            <option value="new">Create a new party...</option>
        </select>

        <div class="builder-label outline">Creating New Monster</div>
        <div class="part-picker-box">
            <div class="part-picker">
                <button class="part-picker-left cycle-button" id="eye-prev">&lt;</button>
                <div class="part-picker-label outline">Eyes</div>
                <button class="part-picker-right cycle-button" id="eye-next">&gt;</button>
            </div>
            <div class="part-picker">
                <button class="part-picker-left cycle-button" id="head-prev">&lt;</button>
                <div class="part-picker-label outline">Head</div>
                <button class="part-picker-right cycle-button" id="head-next">&gt;</button>
            </div>
            <div class="part-picker">
                <button class="part-picker-left cycle-button" id="body-prev">&lt;</button>
                <div class="part-picker-label outline">Body</div>
                <button class="part-picker-right cycle-button" id="body-next">&gt;</button>
            </div>
        </div>
        <div class="builder-preview">
            <div class="builder-monster-view"></div>
            <div class="builder-monster-view-label">Name Here</div>
        </div>
        <button class="builder-submit cycle-button">CREATE</button>
    </div>

    <div class="party-view-box panel">
        <div class='preview-label'>Your Party</div>
        <button class="scene-picker-left scene-picker cycle-button">&lt;</button>
        <div class='party-scene'>
            <img src='/assets/mon-habitat/plains.png' class='party-backdrop'>
            <div class="party-monster monster-1"></div>
            <div class="party-monster monster-2"></div>
            <div class="party-monster monster-3"></div>
            <div class="party-monster monster-4"></div>
        </div>
        <button class="scene-picker-left scene-picker cycle-button">&gt;</button>
        <div class="party-management-panel">
            <div class="party-management-group">
                {{!-- <p><a href="#" class="party-link party-edit" data-index='0' id='party-edit-0'>EDIT</a></p> --}}
                <p><a href="#" class="party-link party-retire" data-index='0' id='party-retire-0'>RETIRE</a></p>
            </div><div class="party-management-group">
                {{!-- <p><a href="#" class="party-link party-edit" data-index='1' id='party-edit-1'>EDIT</a></p> --}}
                <p><a href="#" class="party-link party-retire" data-index='1' id='party-retire-1'>RETIRE</a></p>
            </div><div class="party-management-group">
                {{!-- <p><a href="#" class="party-link party-edit" data-index='2' id='party-edit-2'>EDIT</a></p> --}}
                <p><a href="#" class="party-link party-retire" data-index='2' id='party-retire-2'>RETIRE</a></p>
            </div><div class="party-management-group">
                {{!-- <p><a href="#" class="party-link party-edit" data-index='3' id='party-edit-3'>EDIT</a></p> --}}
                <p><a href="#" class="party-link party-retire" data-index='3' id='party-retire-3'>RETIRE</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content modal-content-new-party">
        <p id="modal-content-new-party-title">ENTER YOUR PARTY NAME</p>
        <form>
            <input id='party-name-input'>
            <button type='button' class='cycle-button' id='party-name-cancel'>CANCEL</button>
            <button type="submit" class='cycle-button' id='party-name-submit'>SUBMIT</button>
        </form>
    </div>

    <div class="modal-content modal-content-error">
        <p id="modal-error-message">AN ERROR OCCURRED.</p>
            <button type="submit" class='cycle-button' id='error-ok'>OK</button>
        </form>
    </div>
</div>

<script>
    var partyData = {{{ toJSON monsters }}};
</script>